#grid {
    display: grid;
    grid-template: 100px 100px 100px / 100px 100px 100px;
    justify-content: center;
}

#display-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 18px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    font-size: 42px;
    font-weight: bold;
}